.container-feature {
    margin-top:15px;
}
.order-feature-h2 h2 {
    font-size: var(--vicefont);
    font-weight: 700;
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;
    border-radius: var(--radius) var(--radius) 0 0;
}
.order-feature-h2 p {
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 15px 15px;
}

.containert-body {
    box-sizing: border-box;
    padding: 20px 20px;
}

.table-head {
    display: flex;
    background-color: var(--clr-primary);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: var(--radius);
    font-size: 16px;
}

.table-body-null {
    text-align: center;
}

    .table-body-null img {
        margin: 20px 0 10px;
        width: 150px;
    }

    .table-body-null p {
        color: var(--clr-bg-g);
        font-size: var(--font);
    }

.table-body-group {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 20px;
    border-bottom: 1px solid var(--clr-border);
    margin-left: 10px;
    font-size: var(--font);
}
.table-body-title {
    align-self:center;
}

.table-body-text img {
    width: 35px;
    height: 35px;
}

.table-body-text {
    display: flex;
    margin-left: -5px;
}

.body-text-p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.body-text-date {
    color: var(--clr-bg-g);
    font-size: 12px;
}

.container-input-footer {
    justify-content:space-between;
}

@media screen and (max-width:767.85px) {
    .table-head {
        display: none;
    }
    /* .table-body-group{
        flex-direction: column;
    } */
    .table-body-service {
        font-weight: 700;
        margin: 10px 0;
    }
    .table-body-text {
        display: flex;
        margin-top: 10px;
        margin-left: 0px;
    }
}
