@{
    ViewData["Title"] = "商品管理";
}

<div id="productvue" v-cloak>
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800 font-weight-bold">商品列表</h1>
        <!-- 搜尋nav -->
        <div class=" d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @@click="getAllNormalProduct">
                        上架中
                    </button>
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @@click="getAllOffsaleProduct">
                        已下架
                    </button>
                </div>
            </div>
            <div class="btn-toolbar mb-3 ml-2" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @@click="getCare">
                        到府照顧
                    </button>
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @@click="getSalon">
                        到府洗澡
                    </button>
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @@click="getWalking">
                        陪伴散步
                    </button>
                </div>
            </div>
            <div class="input-group mb-3 ml-5">
                <input v-model="searchinput"
                       type="text"
                       class="form-control bg-white border-1 border-secondary small w-25"
                       id="searchinput"
                       placeholder="Search for..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <b-form-select @@change="search" v-model="selected" :options="options" name="" id="" class="border border-secondary rounded w-50"
                               :disabled="!isVerify"
                               v-on:change="clean">
                </b-form-select>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- 列表 -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold"> 搜尋結果:{{totalPage}}筆</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <b-table class="table table-bordered"
                             striped
                             hover
                             :items="productlist"
                             :fields="fields"
                             :filter="filter"
                             @@row-clicked="showData">
                        <template #cell(actions)="row">
                            <button class="btn btn-success"
                                    @@click.stop="onsalestatus(row)"
                                    v-if="!isnormalproduct">
                                上架
                            </button>
                            <button class="btn btn-danger"
                                    @@click.stop="offsalestatus(row)"
                                    v-if="isnormalproduct">
                                下架
                            </button>
                            <button class="btn btn-dark"
                                    @@click.stop="deleteproduct(row)"
                                    v-if="!isnormalproduct">
                                刪除
                            </button>
                        </template>
                    </b-table>
                    <b-pagination v-model="currentPage"
                                  :total-rows="totalPage"
                                  :per-page="perPage"
                                  @@click.native="changepage"
                                  size="md"
                                  class="justify-content-center mt-2 sec">
                    </b-pagination>
                </div>
            </div>
        </div>
    </div>

    <!-- modal -->
    <div class="modal fade pt-md-5 " tabindex="-1" id="info-modal">
        <div class="modal-dialog mt-md-5 modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-center text-white">商品資訊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center p-3 ">
                    <div class="row d-flex justify-content-center  text-center">
                        <div class="col-3">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">商品ID</div>
                            <div class="context h6  mt-2">{{productinfo.productId}}</div>
                        </div>
                        <div class="col-3">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">保姆名字</div>
                            <div class="context h6 mt-2">{{productinfo.sitterName}}</div>
                        </div>
                        <div class="col-3">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">服務類型</div>
                            <div class="context h6 mt-2">{{productinfo.serviceType}}</div>
                        </div>
                        <div class="col-3">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">商品狀態</div>
                            <div class="context h6 mt-2">{{productinfo.status}}</div>
                        </div>
                        <div class="col-12 mt-2 pt-2 border-top">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">商品介紹</div>
                            <div class="context h6 mt-2 text-left" v-Html="productinfo.productInfo"></div>
                        </div>
                        <div class="col-12 mt-2 pt-2 border-top">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">保姆介紹</div>
                            <div class="context h6 mt-2 text-left" v-Html="productinfo.sitterInfo"></div>
                        </div>
                        <div class="col-12 mt-2 pt-2 border-top">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">商品照片</div>
                            <div class=" d-flex mt-2">
                                <img :src="item"
                                     v-for="item in imglist"
                                     style="width:300px; max-height:180px;object-fit:cover;"
                                     class="m-auto border border-secondary rounded ">
                            </div>

                        </div>
                        <div class="col-12 mt-2 pt-2 border-top">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">服務價格</div>
                            <b-table class="table table-bordered mt-2"
                                     striped
                                     :items="pricelist"
                                     :fields="pricefields"></b-table>
                        </div>
                        <div class="col-12 mt-2 pt-2 border-top">
                            <div class="title font-weight-bold h6  text-white bg-dark w-100 m-auto">折扣資訊</div>
                            <div class="context h6 mt-2">{{productinfo.discountQuantity}}件起{{productinfo.discount}}折</div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </div>

</div>
@section endJS
    {
    <script src="~/js/Product.js"></script>

}