<footer>
    <div class="footer-platform-intro">
        <div class="container">
            <ul class="row">
                <div class="col-6">
                    <div class="row">
                        <li class="col-md-4 col-12">
                            <a asp-controller="StaticWeb" asp-action="AboutUs">關於PawsDay</a>
                        </li>
                        <li class="col-md-4 col-12">
                            <a asp-controller="StaticWeb" asp-action="ContactUs">聯繫我們</a>
                        </li>
                        <li class="col-md-4 col-12">
                            <a asp-controller="StaticWeb" asp-action="News">最新消息</a>
                        </li>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <li class="col-md-4 col-12 footer-title">
                            <a asp-controller="StaticWeb" asp-action="ServiceProcess">服務預訂流程</a>
                        </li>
                        <li class="col-md-4 col-12 footer-title">
                            <a asp-controller="BecomePetsitter" asp-action="PetsitterIntro">如何成為保姆</a>
                        </li>
                        <li class="col-md-4 col-12">
                            <a asp-controller="StaticWeb" asp-action="UserAgreement">網站使用條款</a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="footer-companyInfo">
        <ul class="container">
            <li>公司名稱：日日毛掌股份有限公司</li>
            <li>客服電話：02-6605-7606</li>
            <li>Email：pawsday888@gmail.com</li>
            <li>營業時間：週一至週五 9:00~18:00（例假日暫不提供電話服務）</li>
            <li>登記地址：106台北市大安區忠孝東路三段96號11號樓之1</li>
            <li class="footer-copyright">COPYRIGHT © 2022 PawsDay All rights reserved.</li>
        </ul>
    </div>
</footer>
