<a href="#" class="go-top">
	<i class="fa-solid fa-angle-up"></i>
</a>
<div class="linebot-btn">
	<i class="fa-brands fa-line linebot-icon"></i>
	<a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=720bmkxw" class="linebot-link">
		<h2>PawsDay<br />Line官方帳號</h2>
		<img src="~/images/lineQRcode.png" alt="line-QRcode" />
		<br />
		<p>點擊加入好友</p>
	</a>
</div>