<div class="service-box col-md-2">
    <ul class="service-type">
        <a asp-controller="ServiceType" asp-action="Homecare">
        <li class="homecare">
            <i class="fa-solid fa-house-chimney-user"></i>
            <p>到府照顧</p>
        </li>
        </a>
        <a asp-controller="ServiceType" asp-action="Homesalon">
        <li class="homesalon">
            <i class="fa-solid fa-bath"></i>
            <p>到府洗澡</p>
        </li>
        </a>
        <a asp-controller="ServiceType" asp-action="Walking">
        <li class="walking">
            <i class="fa-solid fa-person-walking-with-cane"></i>
            <p>陪伴散步</p>
        </li>
        </a>
    </ul>
</div>