@{
    Layout = "_LayoutSearchNone";
}
@{
    ViewData["Title"] = "MemberAnswer";
}




@section topCSS{
    <link rel="stylesheet" href="~/css/staticWeb/support.css">
    <link rel="stylesheet" href="~/css/staticWeb/supportanswer.css">
}

    <div class="wrap">
        <div class="container sub-container ">
            <div class="row answer-row">
                <div class="col-12 col-lg-10 breadcrumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" asp-controller="StaticWeb" asp-action="Support">問題首頁</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                消費者常見問題
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">我不在家，如何讓保姆順利到府服務?</h3>
                        <p class="text">
                            透過事先線上聊聊，毛爸媽可以與保姆討論如何交付鑰匙，許多毛爸媽會透過大樓管理員或是信箱投遞進行交付。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">寵物保姆如何篩選出來的?</h3>
                        <p class="text">
                            在本平台的寵物保姆皆為有寵物飼養經驗的愛動物人士，經過身分證實名認證才能成為寵物保姆，毛爸媽也可以透過評論系統看到保姆的評分與留言，選擇能夠安心信任的保姆，毛爸媽也可以自行在家中裝置攝影機。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">我的毛孩很怕生，適合給保姆照顧嗎?</h3>
                        <p class="text">
                            如果毛孩較為害羞、慢熟，可以透過事先線上先與保姆分享毛孩習慣、共同討論是否適合進行本次照顧。<br />

                            如果毛孩是具有攻擊性的話，可能就不適合寵物保姆照顧服務，不只保護保姆，也避免毛孩過度緊張激動發生意外！
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">我的毛孩需要餵藥、換藥的話，保姆可以服務嗎?</h3>
                        <p class="text">
                            有任何特殊需求，可以預約有註明具備醫療照顧技能的寵物保姆，也可以在事前與保姆溝通討論，並清楚交代醫療照顧細節。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">預訂了服務可以取消嗎?</h3>
                        <p class="text">
                            如果您在預訂的服務期間之前或期間取消預訂，我們將根據取消政策中的取消時間退還費用。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">如何取消帳戶?</h3>
                        <p class="text">
                            請您聯絡 PawsDay 客服，客服會幫您取消用戶。<br />
                            <a href="mailto:pawsday@gmail.com">pawsday@gmail.com</a>
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
