@{
    Layout = "_LayoutSearchNone";
}
@{
    ViewData["Title"] = "News";
}


@section topCSS{

    <link href="~/css/staticWeb/latestnews.css" rel="stylesheet" />
    <link href="~/css/staticWeb/latestnewsnews.css" rel="stylesheet" />
}

    <div class="container-full-width">
        <div class="container-switch">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="latesnews-title">幼犬照顧指南！把握黃金成長期，0-1歲幼犬照顧重點懶人包</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-lastestnews">
                                <li class="breadcrumb-item active breadcrumb-lastestnews-date" aria-current="page">
                                    Jul.14
                                    2022
                                </li>
                                <li class="breadcrumb-item breadcrumb-lastestnews-previous-page">
                                    <a asp-controller="StaticWeb" asp-action="News"
                                   class="breadcrumb-lastestnews-link">最新消息</a>
                                </li>
                            </ol>
                        </nav>
                        <p class="text">
                        </p>
                        <div class="post-content">
                            <p class="post-paragraph">
                                你家是否有一隻可愛爆棚的幼犬？還是正打算飼養？成犬與幼犬照顧方式大不相同，幼犬照顧，如同人類幼兒一般，在各階段都有需要留意的事項。幼犬照顧得宜，相對也能把握住讓幼犬身體強健，訓練生活習性的黃金成長期。完整的幼犬照顧指南，面面俱到的細節懶人包，讓幼犬照顧更加得心應手。
                            </p>

                            <img src="~/images/news/puppy.webp" alt="">

                            <h3 class="title-h3">幼犬照顧要準備哪些東西？</h3>
                            <p class="post-paragraph">
                                迎接可愛的幼犬回家，是最讓人開心的事情，事前了解要準備哪些物品，是讓返家後幼犬照顧不會手忙腳亂的重要前置作業。基本的「飼料」、「飼料碗」、「水碗」、「尿布墊」、「寵子或寢具」、「玩具」都必須先採買，其他像「外出寵子」、「洗澡、刷牙用品」、「項圈、牽繩」、「刷毛梳」、「寵物剪指刀」、「除臭用品」、「健康食品」則可以接續採買。
                            </p>


                            <h3 class="title-h3">幼犬常見疫苗有哪些？</h3>
                            <p class="post-paragraph">
                                在適當的時候帶幼犬注射疫苗，是幼犬照顧中重要的環節。疫苗提高了幼犬的免疫力，也能防禦無所不侵的病毒，讓幼犬健康長大，同時避免飼養者感染人畜共通的疾病。下列羅列了幼犬照顧每一時期需施打的核心疫苗，主要分為五合一、七合一、八合一、十合一，可自行選擇的Ｎ合一疫苗，價數越多代表預防的傳染病種類越多，也可與獸醫討論後選擇。</br>
                                注射疫苗後抵抗力降低，建議1週後再洗澡，並儘可能在家中休息及避免與其他動物接觸。</br>
                                除了核心疫苗外，還有犬傳染性肝炎、犬副流感病毒、萊姆病等其他非核心疫苗，可以依地區或個人需求另詢問獸醫。
                            </p>

                            <h3 class="title-h3">幼犬照顧各階段注意事項</h3>
                            <p class="post-paragraph">
                                正在發育的幼犬照顧時，除了身型逐漸變大的外表，也有換牙期、發情期等各種生理上的轉變。多了解幼犬照顧各階段的變化，包含飲食、醫療等該注意的事項，做足準備，幼犬照顧的過程才能更輕鬆愉快。細分為四大階段的幼犬照顧注意事項，一起讓幼犬健康快樂地成長：
                            </p>

                            <h3 class="title-h3">斷奶期（50天左右）</h3>
                            <p class="post-paragraph">
                                斷奶期的幼犬照顧，因應開始長牙，飲食上如果只有狗狗配方奶已無法滿足幼犬需求，這個階段可以分別在不同的出生天數，配合不同比例的離乳食品，提供幼犬照顧時更多的營養。
                            </p>
                            <h3 class="title-h3">成長期（1-3個月）</h3>
                            <p class="post-paragraph">
                                這個時候狗狗會覺得牙齒疼痛、不舒服，咬東西的慾望增加。建議提供耐咬的玩具，如無吊飾布偶、磨牙棒等（建議不要用牛皮骨），也可以將玩具冰過後，給幼犬啃咬。另外，也記得先把貴重東西藏好，才能避免被幼犬咬到。成長期的幼犬照顧，飲食部份建議餵飼料、主食罐等，與可以咬食的食物。
                            </p>
                            <h3 class="title-h3">換牙／訓練期（4-12個月）</h3>
                            <p class="post-paragraph">
                                每日餵食改成2-3次   可增加富有鈣質的食物。這時候可定期使用牙刷保持口腔清潔，並開始進行定點上廁所的訓練，幼犬照顧養好習慣，就從這時候開始吧！</br>
                                這時期是許多飼主選擇幫狗狗絕育的時期，可以直接跟獸醫討論評估，再決定是否進行。
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

