
@{
    Layout = "_LayoutSearchNone";
}
@{
    ViewData["Title"] = "News";
}


@section topCSS{

    <link href="~/css/staticWeb/latestnews.css" rel="stylesheet" />
    <link href="~/css/staticWeb/latestnewsnews.css" rel="stylesheet" />
}

    <div class="container-full-width">
        <div class="container-switch">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="latesnews-title">狗狗可以獨自在家多久？</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-lastestnews">
                                <li class="breadcrumb-item active breadcrumb-lastestnews-date" aria-current="page">
                                    Jul.14
                                    2022
                                </li>
                                <li class="breadcrumb-item breadcrumb-lastestnews-previous-page">
                                    <a asp-controller="StaticWeb" asp-action="News"
                                   class="breadcrumb-lastestnews-link">最新消息</a>
                                </li>
                            </ol>
                        </nav>
                        <p class="text">
                        </p>
                        <div class="post-content">
                            <p class="post-paragraph">
                                當你決定養狗孩子的那一刻，你就得要負起責任改變你的生活方式，也要特別安排一天行程，讓你有辦法準時回家，包含上班時間、跟朋友出去玩、辦事等等，有時候可能不能跟朋友出去，因為有種不能把毛孩一隻狗留在家的愧疚感。
                            </p>
                            <p class="post-paragraph">
                                狗狗很愛人類的陪伴，但這不代表讓他們獨自待在家是一件很糟糕或是危險的事，今天要分享的就是你可以獨自讓狗狗待在家多久，讓他們可以安全地待在家。
                            </p>

                            <img src="~/images/news/new.webp" alt="">

                            <h3 class="title-h3">考慮狗狗能憋尿多久</h3>
                            <p class="post-paragraph">
                                你一個最常見的問題是，狗狗多久才需要上廁所一次？根據美國The Dog People的文章，狗狗一天平均需要上廁所3-5次，但不同的狗狗上廁所的時間點也會不同，像幼犬跟老犬需要更頻繁的上廁所。
                            </p>
                            <p class="post-paragraph">
                                狗狗到底能「憋尿」多久呢？依照狗狗的年紀，以下為最常見的憋尿時間極限：
                            </p>
                            幼犬：幾個月，幾小時（意思是三個月大最多能憋三小時）</br>
                            成犬 1 歲以上：最高八小時，但最好不要超過六小時</br>老犬 8 歲以上：依照健康狀況和大小，最多能憋二到六小時</br></br>以上的預估因為狗狗的大小、健康狀況、習慣等等可能會有所不同，但勉強狗狗憋尿可能會倒是膀胱炎或是結石的狀況，還有憋尿本身就是一件很不舒服的事，難免有時候在家中會發生亂尿尿的小意外。
                            </p>
                            <p class="post-paragraph">
                                若在乎狗狗的健康或舒適度，可以六小時就讓狗狗出門上廁所一次，若中午午休沒辦法回家帶狗狗上廁所，建議可以找個寵物保姆帶狗狗去遛狗解放。
                            </p>


                            <h3 class="title-h3">運動很重要</h3>
                            <p class="post-paragraph">
                                除了上廁所以外，狗狗每天也需要運動，不管狗狗多有體力或多健康，運動會幫助他：
                                保持身體健康</br>
                                幫助消化</br>
                                訓練腦力</br>
                                燃燒卡路里</br>
                                預防無聊（可能會破壞家、拆家、吠叫等等）</br></br>狗狗的運動量會依據狗狗的大小、品種、健康狀況而有些不同，平常來說，健康的狗狗一天需要一小時的運動量，但是可以分開的，像是出們前可以先帶他出去散步或玩個20-30分鐘，讓你不在家的時候他可以在家好好放鬆休息，但如果你的狗狗有拆家、焦慮的行為，他可能需要更長的運動時間，你可以在詢問獸醫。
                            </p>

                            <h3 class="title-h3">心理健康</h3>
                            <p class="post-paragraph">
                                不管狗狗能憋尿多久，或是一天需要多少運動量，心理健康可以讓狗狗更開心、健康和更懂事，尤其是幼犬和年輕的狗狗，他們需要用到他們的「腦袋」才不會有拆家或焦慮的行為。不管是訓練、散步、玩遊戲，都可讓狗狗的心理更健康。
                                維持狗狗心理健康的方式：</br>
                                KONG的玩具，裡面放些小零食</br>
                                安全地咀嚼玩具</br>
                                狗狗拼圖遊戲</br>
                            </p>

                            <h3 class="title-h3">總結</h3>
                            <p class="post-paragraph">
                                每隻狗狗都不一樣，上廁所、身體和心理健康都很重要，如果你上班時間很長，或是要出遠門，可以使用毛小愛寵物保姆平台找寵物安親、寄宿、遛狗保姆。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

