@{
    Layout = "_LayoutSearchNone";
}
@{
    ViewData["Title"] = "News";
}


@section topCSS{

    <link href="~/css/staticWeb/latestnews.css" rel="stylesheet" />
    <link href="~/css/staticWeb/latestnewsnews.css" rel="stylesheet" />
}

    <div class="container-full-width">
        <div class="container-switch">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="latesnews-title">7個成為寵物保姆、貓保姆、遛狗師的理由！時間彈性、斜槓增加收入的職業推薦</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-lastestnews">
                                <li class="breadcrumb-item active breadcrumb-lastestnews-date" aria-current="page">
                                    Jul.14
                                    2022
                                </li>
                                <li class="breadcrumb-item breadcrumb-lastestnews-previous-page">
                                    <a asp-controller="StaticWeb" asp-action="News"
                                   class="breadcrumb-lastestnews-link">最新消息</a>
                                </li>
                            </ol>
                        </nav>
                        <p class="text">
                        </p>
                        <div class="post-content">
                            <p class="post-paragraph">
                                為什麼要成為毛小愛的寵物保姆、貓保姆、遛狗師？
                            </p>

                            <img src="~/images/news/sitter.webp" alt="">

                            <h3 class="title-h3">愛動物</h3>
                            <p class="post-paragraph">
                                你深深相信人生中有毛孩很重要、很值得，值得你每天帶他去散步、幫他鏟屎、清理貓砂、撿大便，你每次看到路上的狗狗或是人家的貓咪，你的心都有一種融化的感覺，不管你是不是一位毛爸媽，成為寵物保姆可以讓你做到你喜歡的事，又可以同時賺錢—陪伴貓貓狗狗！寵物保姆最重要的一點要求，就是要非常愛動物。
                            </p>


                            <h3 class="title-h3">在家工作</h3>
                            <p class="post-paragraph">
                                不管你是一個接案工作者、家庭主婦、退休者、學生、科技業、或是在找尋一個可以在家工作的生活習慣，寵物保姆、貓保姆、遛狗師是一個完美的選擇，在家跟一隻貓貓或狗狗窩在沙發上，帶他出去走走，都可以同時賺錢。
                            </p>

                            <h3 class="title-h3">彈性的工作時間</h3>
                            <p class="post-paragraph">
                                寵物保姆可以在家就可以彈性賺錢，有些本來斜槓兼職的毛小愛保姆，甚至決定全職投入成為寵物保姆。
                            </p>

                            <h3 class="title-h3">賺很多錢</h3>
                            <p class="post-paragraph">
                                很多接案照顧寵物的保姆們，會用賺到的錢帶孩子出去玩、付車貸房貸、吃好料的等等，許多保姆再有一定的評論後，一個月兼職就可以賺到高於30,000台幣的收入。                       
                            </p>

                            <h3 class="title-h3">美好的退休生活</h3>
                            <p class="post-paragraph">
                                許多退休的人們有很多多餘的時間，可以花時間跟狗狗和貓貓相處，同時也可以彈性接案賺錢。
                            </p>
                            <h3 class="title-h3">教育孩子「責任」</h3>
                            <p class="post-paragraph">
                                很多家庭主婦媽媽在家照顧寵物跟孩子，同時可以讓孩子們學會愛護小動物、責任感、生命教育，也讓他們可以互相玩耍。
                            </p>
                            <h3 class="title-h3">跟毛孩玩耍</h3>
                            <p class="post-paragraph">
                                各式各樣的貓貓狗狗都會用PawsDay找尋寵物保姆，寵物保姆和毛爸媽和毛小孩們都可以成為很好的朋友，照顧毛小孩不但療癒，還可以很有成就感呢！
                            </p>

                            <p class="post-paragraph">
                                想申請成為寵物保姆可以到首頁「成為保姆」申請表單！
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

