@{
    Layout = "_LayoutSearchNone";
}

@section topCSS{
    <link rel="stylesheet" href="~/css/staticWeb/staticPrivacy.css">
}

@{
    ViewData["Title"] = "PrivacyPolicy";
}

<section class="contact-title-container">
    <h2 class="title-h2">
        PawsDay<br>隱私權政策
    </h2>
</section>

<div class="container privacy-container">
    <section class="privacy-btn">
        <select class="form-select pawsday-input" aria-label="Default select example" id="privacy-select">
            <option value="隱私權保護政策"><a asp-controller="StaticWeb" asp-action="UserAgreement">使用條款</a></option>
            <option value="隱私權保護政策"><a asp-controller="StaticWeb" asp-action="InsutanceProtection">保險與保障</a></option>
            <option value="隱私權保護政策"><a href="#">隱私權政策</a></option>
        </select>
    </section>

    <div class="row">
        <section class="privacy-list-container col-md-2">
            <ul class="privacy-list">
                <li class="user-agreement">
                    <a asp-controller="StaticWeb" asp-action="UserAgreement">
                        <p>使用條款</p>
                    </a>
                </li>
                <li class="insutance-protection">
                    <a asp-controller="StaticWeb" asp-action="InsutanceProtection">
                        <p>保險與保障</p>
                    </a>
                </li>
                <li class="privacy-policy link-a">
                    <a href="#">
                        <p>隱私權政策</p>
                    </a>
                </li>
            </ul>
        </section>

        <section class="privacy-body col-md-10">
            <div class="privacy-wrap">
                <ul class="privacy-content">
                    <!-- 日期 -->
                    <li class="textarea-data" style="margin-bottom: 10px; text-align: right;">
                        日期：西元2022年09月01日<br>版本：第1版
                    </li>
                    <hr>
                    <!-- 1.引言 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">
                        1. 引言
                    </li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        歡迎使用由日日毛長股份有限公司、經營的PawsDay平台。PawsDay認真看待其依據適用之隱私權及個人資料保護相關法律及規範 （下稱「隱私權法」） 下的責任，並致力於尊重PawsDay網站 （下稱「本網站」） 所有使用者的隱私權和關切點 （我們將本網站以及我們在本網站中提供的服務統稱為「本服務」）。我們瞭解您委託給我們的個人資料極為重要，並認為妥善管理、保護及處理您的個人資料是我們的責任。此隱私權政策 （下稱「隱私權政策」或「政策」） 旨在協助您瞭解我們目前和未來會如何收集、使用、揭露及/或處理您提供給我們及/或我們所擁有和您有關的個人資料，以及協助您在向我們提供任何個人資料之前作出明智的決定。請仔細閱讀本隱私權政策。如果您對此資訊或是我們的隱私權作法有任何問題，請參閱此隱私權政策最後、標題為「問題、疑慮或投訴？聯絡我們」一節。<br>
                        「個人資料」是指有關個人不論真實與否的資料，該個人可透過該資料，或透過該資料與其他組織持有或可能有權限存取資料，予以識別。個人資料常見的例子包括姓名、身分證號碼和聯絡資訊。<br>
                        若您使用本服務、向我們註冊帳戶、造訪我們的網站或存取本服務，即表示您知悉並同意接受本隱私權政策概述之作法、要求和/或政策，並特此同意我們收集、使用、揭露和/或處理此處所述之個人資料。若您不同意您的個人資料依此隱私權政策所述之方式進行處理，請勿使用我們的服務或存取本本網站。如果我們變更隱私權政策，我們會在網站上公佈這些變更或是修改過的隱私權政策。我們保留隨時修改本隱私權政策的權利。
                    </li>
                    <hr>

                    <!-- 2.PawsDay會在何時收集個人資料？ -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">2. PawsDay會在何時收集個人資料？</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative;">
                        我們會/可能會在下列時候收集您的個人資料：<br>
                        當您註冊及/或使用我們的本服務或本網站，或是向我們開立帳戶時；<br>
                        當您透過線上或實體表單方式提交表單，包括但不限於申請表或是與我們的產品或服務相關的其他表單時；<br>
                        當您簽定協議，或是針對您與我們的互動提供其他文件或資訊，或是當您使用我們的產品和服務時；<br>
                        當您透過電話 （可能會錄音）、信件、傳真、面對面會議、社交媒體平台和電子郵件等方式與我們互動時；<br>
                        當您使用我們的電子服務，或是透過我們的應用程式或使用我們網站上的服務與我們互動時。<br>
                        這包括但不限於透過 Cookie （可能會在您與我們的應用程式或網站互動時部署）；<br>
                        當您透過我們的本服務進行交易時；當您提供意見或投訴給我們時；<br>
                        當您註冊參加競賽時；或是當您基於任何原因提交個人資料給我們時。<br>
                        上述情形並非包含全部情形，僅列出可能會收集您個人資料的一些常見實例。<br>
                        當您造訪、使用或是與我們的行動應用程式或本網站互動時，我們可能會使用各種技術，以自動或被動的方式收集特定資訊，該技術可能會被下載至您的裝置，而且可能會設定或修改您裝置的設定。我們所收集的資訊可能包括但不限於：您的網際網路通訊協定 （IP） 位址、電腦/行動裝置作業系統和瀏覽器類型、行動裝置類型、行動裝置的特性、行動裝置的唯一裝置識別碼 （UDID） 或行動設備識別碼 （MEID）、參考網站的位址 （如果有），以及您在我們的網站和行動應用程式上所造訪的網頁及造訪時間。我們只會針對以下定義的「目的」去收集、使用、揭露及/或處理該資訊。<br>
                        我們的行動應用程式可能會使用 GPS、Wi-Fi 等技術收集您行動裝置位置的精確資訊。我們會針對一或多項「目的」以收集、使用、揭露及/或處理該資訊，包括但不限於：您所要求以位置為基礎的服務、根據您的位置傳遞相關內容給您、透過我們的行動應用程式所包含的服務，讓您與其他使用者分享您的位置。您可以透過大部分行動裝置的裝置設定，撤銷我們獲取您位置資訊的權限。如果您對停用行動裝置位置服務的方式有任何疑問，請洽詢行動裝置服務供應商或裝置製造商。
                    </li>
                    <hr>

                    <!-- 3.PawsDay會收集哪些個人資料？ -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">3.PawsDay會收集哪些個人資料？</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative;">
                        PawsDay會收集的個人資料包括但不限於：<br>
                        姓名；電子郵件地址；出生日期；帳單地址；銀行帳戶和付款資訊；電話號碼；性別；<br>
                        當使用者註冊使用我們的本服務或網站及使用者使用本服務或網站時所提供有關使用者的其他任何資訊，以及使用者如何使用我們的本服務或網站的相關資訊；以及彙總使用者互動內容的相關資訊。<br>
                        若您不希望我們收集前述資訊/個人資料，您可以隨時透過書面方式通知我們的「資料保護主管」以選擇退出。您可以在下方標題是「如何退出、移除、要求存取或修改您提供給我們的資訊？」的小節中，找到選擇退出的進一步資訊。不過請注意，若您不允許我們收集您的個人資料或是不同意我們收集、使用或處理您的個人資料，您對本服務的使用可能會受到影響。例如，不讓我們收集有關您的位置資訊，可能會造成以位置為基礎的功能遭到停用。
                    </li>
                    <hr>

                    <!-- 4.設定帳戶-->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">4.設定帳戶</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">若要使用本服務的特定功能，您必須建立使用者帳戶，這會要求您提交特定個人資料。當您註冊和建立帳戶時，我們會要求您提供您的姓名、電子郵位地址以及您選擇的使用者名稱。我們也會要求和您本身有關的特定資訊，例如您的電話號碼、電子郵件地址、送貨地址、附照片的身分證明、銀行帳戶詳細資料、年齡、出生日期、性別及興趣。您將在帳戶啟動後選擇使用者名稱和密碼。系統會使用您的使用者名稱和密碼，因此您可以安全地存取及維護您的帳戶。</li>
                    <hr>

                    <!-- 5.檢視網頁 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">5.檢視網頁</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative;">
                        如同對大多數的網站一樣，您的電腦會傳送可能包含您個人資料的資訊，而網頁伺服器則會在您瀏覽我們的本網站時記錄該資訊。這通常包括但不限於：您電腦的 IP 位址、作業系統、瀏覽器名稱/版本、參考網頁、所要求的網頁、日期/時間，有時也會利用Cookie（可使用瀏覽器喜好設定予以停用） 協助網站記住您前次的造訪資訊。當您登入時，這項資訊會與您的個人帳戶建立關聯。該資訊也會納入匿名的統計資料中，以協助我們瞭解訪客使用我們網站的情形。
                    </li>
                    <hr>

                    <!-- 6.COOKIE -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">6.COOKIE</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們有時可能會執行「Cookie」或其他功能，讓我們或第三方能夠收集或分享資訊，進而協助我們改進所提供的本網站和本服務，或是協助我們提供新的服務及功能。「Cookie」是我們傳送至您的電腦或行動裝置的識別碼，可以讓我們識別您的電腦或裝置，同時告訴我們本服務或網站的使用或造訪方式及時間、造訪人次，並追蹤我們網站中的活動。我們可能會將 Cookie 資訊與個人資料連結起來。Cookie 也會連結至您選擇購買之商品及您有檢視之網頁的相關資訊。這項資訊會用於追蹤您的購物車等用途。Cookie 也用於傳遞與您興趣相關的特定內容，以及監控網站的使用情形。<br>
                        若您要拒絕 Cookie 的使用，請選擇瀏覽器上的適當設定。不過請注意，如果您這麼做，可能無法使用本網站或本服務的完整功能。
                    </li>
                    <hr>

                    <!-- 7.檢視及下載內容和廣告 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">7.檢視及下載內容和廣告</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        當您在我們的本網站上或是透過本服務查看內容、廣告及存取其他軟體時，系統傳送給我們的資訊，與您瀏覽網頁時所傳送的資訊大部分相同 （包括但不限於 IP 位址、作業系統等）；然而不同於網頁檢視的是，您的電腦會向我們傳送檢視內容和廣告的相關資訊，及/或本服務和網站所安裝之軟體的相關資訊及時間。
                    </li>
                    <hr>

                    <!-- 8.社群與支援 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">8.社群與支援</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們透過電子郵件、簡訊和意見表提供客戶服務支援。為提供客戶支援，我們會要求您提供電子郵件地址和行動電話號碼。我們從客戶支援要求所收到的資訊 （包括但不限於電子郵件） 只會用於客戶支援服務，我們不會將該資訊傳送給第三方，也不會與第三方分享。<br>
                        您也可以在我們的社群論壇發問或是回答其他使用者的問題。我們的論壇和傳訊服務可以讓您參與我們的社群；為達此目的，我們會保留您的使用者 ID、聯絡人名單和狀態訊息等資訊。此外，這些服務及未來會推出的類似服務可能會要求我們保留您的使用者 ID 和密碼資訊。
                    </li>
                    <hr>

                    <!-- 9.問卷調查 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">9.問卷調查</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們有時可能會透過問卷調查要求使用者提供資訊。是否參與這些問卷調查純屬自願性質，因此您可以選擇是否向我們揭露您的資訊。所要求的資訊可能包含但不限於聯絡資訊 （例如您的電子郵件地址） 以及寵物統計資訊 。調查資訊的目的在於監控或改進本服務的使用情形和滿意度，不會傳送給第三方，除了協助我們管理問卷調查或是對問卷調查採取行動的承包商以外。
                    </li>
                    <hr>

                    <!-- 10.我們如何使用您提供給我們的資訊？ -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">10.我們如何使用您提供給我們的資訊？</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們可能會針對下列一或多個目的去收集、使用、揭露和/或處理您與寵物的個人資料：<br>
                        考量及/或處理您向我們提出的申請/與我們進行的交易，或是您透過本服務與第三方進行的交易或通訊；<br>
                        管理、操作、提供及/或處理您對我們的本服務和網站的使用及/或存取、您與我們的關係，以及您向我們開立的使用者帳戶；<br>
                        管理、操作、處理及提供本服務與促進本服務的提供，包括但不限於記住您的喜好設定；<br>
                        透過本服務量身打造您的體驗：根據您的興趣和喜好顯示內容、提供更快速的方法，讓您存取帳戶及提交資訊給我們，以及在必要時允許我們與您聯絡；<br>
                        回應、處理或完成交易及/或滿足您對特定產品及服務的要求，以及向您告知服務問題和不尋常的帳戶操作；<br>
                        執行我們的「使用條款」或任何適用的使用者授權合約；<br>
                        保護人身安全和權利、財產或其他人的安全；識別及/或驗證；<br>
                        維護及管理偶爾需要進行的軟體更新及/或其他更新及支援，以確保本服務能順暢運作；<br>
                        處理或促進客戶服務、執行您的指示、處理或回應由您或代表您 （或聲稱由您或代表您） 提出的一切詢問；<br>
                        基於執行及/或管理您與我們的關係，或是您的使用本服務之目的，透過語音通話、文字簡訊及/或傳真訊息、電子郵件及/或郵寄或其他方式與您聯繫或溝通，例如但不限於向您傳達與本服務有關的管理資訊。您知悉並同意我們得透過郵寄信件、文件和通知的方式與您進行上述通訊，遞送過程中可能會在信封/郵件包裹外部揭露您的特定個人資料；<br>
                        當另一名使用者在本網站上向您傳送私訊或是張貼要給您的意見時通知您；<br>
                        進行研究、分析和開發活動 （包括但不限於資料分析、問卷調查、產品和服務開發及/或剖析），以分析您對本服務的使用情形、改進我們的本服務或產品及/或加強您的客戶體驗；<br>
                        允許進行稽核及調查以確認目標受眾的規模和組成，並瞭解他們對本服務的體驗；<br>
                        在您提供事先同意下且基於行銷或這方面的目的，透過各種通訊模式，如郵寄信件、電子郵件、以位置為基礎的服務或其他模式，向您寄送有關PawsDay（及/或其關係企業或關聯公司）可能正在銷售、行銷或促銷之產品及/或服務（包括但不限於可能與PawsDay合作或聯合提供之第三方的產品及/或服務）的行銷和促銷資訊及資料，無論該產品或服務目前已存在或是未來才會建立；<br>
                        回應法律程序或是遵守相關管轄地之任何適用法律、政府或監管要求，包括但不限於依據對PawsDay或是其關聯公司或關係企業具有約束力之任何法律規定，符合揭露之要求；<br>
                        針對內部和法定報告及/或記錄保存要求，產生統計資料和研究結果；<br>
                        根據法律或法規義務或是我們的風險管理程序（依據法律規定或是我方所實施者），執行盡職調查或其他過濾行動（包括但不限於背景調查）；<br>
                        稽核我們的本服務或PawsDay的業務；<br>
                        防止或調查詐欺、非法活動、疏忽或不當行為，以瞭解這些行為是否與您對本服務的使用有關、是否因為您與我們的關係而產生，以及是否有前述行為的嫌疑；<br>
                        儲存、託管、備份（無論是為了災難復原或其他目的）您的個人資料，不管是在您所在管轄地內或外；<br>
                        處理及/或促進企業資產交易或可能進行的企業資產交易，其中該交易的參與者包含PawsDay，或是僅包含PawsDay的關聯公司或關係企業，或是包含PawsDay及/或PawsDay任一家或多家關聯公司或或關係企業，而且可能還有其他第三方組織也參與該交易。「企業資產交易」是指組織、組織的一部分或組織之任何業務或資產的收購、出售、租賃、整合、合併或其他任何的收購、處置或融資行為；以/或我們在取得您同意的當時，向您告知的任何其他目的。<br>
                        （以上統稱「目的」）。<br>
                        由於我們將會/可能收集、使用、揭露或處理您個人資料的目的取決於當時的情況，該目的可能未出現在上述項目中。不過，我們會在取得您同意的當時，向您告知該其他目的，除非相關法規允許我們在未取得您同意的情況下即可處理適用的資料。
                    </li>
                    <hr>

                    <!-- 11.分享服務資訊 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">11.分享服務資訊</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們的本服務可以讓使用者在絕大部分PawsDay未參與的情況下，彼此分享個人資訊以完成交易。在典型的交易中，使用者可以存取彼此的姓名、使用者 ID、電子郵件地址及其他聯絡和郵遞資訊。我們的使用條款要求擁有另一名使用者之個人資料的使用者（下稱「接收方」） 必須 （i） 遵守所有適用的隱私權法；（ii） 允許該其他使用者（下稱「揭露方」） 將自己從接收方的資料庫移除；以及 （iii） 允許揭露方檢閱接收方收集了哪些與他們有關的資訊。
                    </li>
                    <hr>

                    <!-- 12.PawsDay如何保護客戶資訊？ -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">12.PawsDay如何保護客戶資訊？</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們實施各式各樣的安全措施，以確保您的個人資料在我們的系統上安全無虞。使用者個人資料包含在安全網路之後，只有具有該系統之特殊存取權的有限員工可以存取。我們會按照隱私權法及/或其他適用法律保留個人資料。也就是說，在我們合理認為 （i） 保留該個人資料不再符合收集個人資料之目的；以及 （ii） 不再需要針對任何法律或業務目的保留個人資料時，我們會立即銷毀您的個人資料，或是進行匿名化處理。若您停止使用本網站或是您使用本網站及/或本服務的權限遭到終止，我們會繼續根據此隱私權政策及隱私權法所規定的義務，加以儲存、使用及/或揭露您的個人資料。根據適用法律，我們得於未事先通知您的情況下，安全處置您的個人資料。
                    </li>
                    <hr>

                    <!-- 13.關於未成年的資訊 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">13.關於未成年的資訊</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative;">
                        本服務不適用於 20 歲以下的未成年。我們不會故意收集或保留 20 歲以下未成年的任何個人資料或無法識別個人身分的資訊，而且本網站或其他本服務的所有部分都不是以 20 歲以下未成年為對象。<br>
                        我們會關閉由該未成年專用的一切帳戶，並且會移除及/或刪除我們認為是由 20 歲以下未成年提交的一切個人資料。
                    </li>
                    <hr>

                    <!-- 14.有關安全性和第三方網站的免責聲明 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">14.有關安全性和第三方網站的免責聲明</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative; ">
                        我們不保證您在第三方網站上提供之個人資料及/或其他資訊的安全性。為維護我們所擁有或控制與您有關之個人資料的安全性，我們確實實施了各種安全措施。您的個人資料包含在安全網路之後，只有具有該系統之特殊存取權且必須對個人資料保密的有限人員可以存取。當您下訂單或存取個人資料時，我們會提供安全伺服器以供使用。您提供的所有個人資料或敏感資訊都會以加密方式存放在我們的資料庫中，只有上述人員可以存取。<br>
                        為嘗試提供更高的價值，我們可能會選擇將各種第三方網站連結至本網站，或是將第三方網站放在本網站框架中。我們可能也會參與聯合品牌和其他關係，以便為訪客提供電子商務及其他服務與功能。所連結的網站有個別和獨立的隱私權政策及安全措施。即使該第三方與我們有關，我們對於這些連結網站也沒有控制權，而且每一個連結網站都有不受我們約束的個別隱私權和資料收集作法。我們可能不會收到由聯合品牌夥伴或第三方網站（即使是在我們的本網站上或透過我們的本網站提供）所收集的資料。<br>
                        因此，我們對於這些連結網站的內容、安全措施（或缺乏該安全措施）及活動，沒有任何責任或義務。這些連結網站只是為了方便起見而提供，因此當您存取這些網站時，應自行承擔風險。儘管如此，我們仍設法保護本網站及置於各本網站之連結的完整性，因此歡迎提出與這些連結網站相關的意見（包括但不限於特定連結無法運作的狀況）。
                    </li>
                    <hr>


                    <!-- 15.條款與條件 -->
                    <li class="textarea-title" style="font-size:20px; font-weight: bold; margin-bottom: 10px;">15.條款與條件</li>
                    <li class="textarea-list" style="padding-left: 50px; margin-bottom: 10px; position: relative;">
                        另外也請閱讀其他相關政策，以及使用條款中有關本網站和本服務的使用、免責聲明及責任限制的相關規定。
                    </li>
                </ul>
            </div>

        </section>
    </div>

</div>

