@{
    Layout = "_LayoutSearchNone";
}
@{
    ViewData["Title"] = "SitterAnswer";
}


@section topCSS{
    <link rel="stylesheet" href="~/css/staticWeb/support.css">
    <link rel="stylesheet" href="~/css/staticWeb/supportanswer.css">
}


    <div class="wrap">
        <div class="container sub-container ">
            <div class="row answer-row">
                <div class="col-12 col-lg-10 breadcrumb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="breadcrumb-link" asp-controller="StaticWeb" asp-action="Support">問題首頁</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                保姆常見問題
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">如何申請成為保姆?</h3>
                        <p class="text">
                            首頁連結「成為保姆」將有申請表單，填寫完畢並檢附相關資料後，PawsDay 將進行審核，審核通過即可正式上架服務。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">保姆有資格限制嗎?</h3>
                        <p class="text">
                            我們鼓勵有寵物照顧經驗、志工服務經驗或相關證照者加入保姆行列，申請保姆表單中亦有合適度測驗進行審核把關。本平台之保姆皆須通過實名認證，才可進行後續上架資格。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">可以限制不接某些個性的毛小孩嗎?</h3>
                        <p class="text">
                            若您有特殊無法照顧的毛小孩狀況，可以於保姆介紹、上架之服務介紹中清楚說明，並於諮詢時與毛爸媽確認毛小孩個性及狀況，再行接單服務。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>
            <div class="row answer-row reply">
                <div class="col-12 col-lg-10 answer-area">
                    <div class="contect">
                        <h3 class="title">保姆也可以取消訂單嗎?</h3>
                        <p class="text">
                            若顧客下定之訂單與您提供之服務不相符，或有超出服務範圍外之要求，您可申請取消訂單；但若非以上原因取消訂單，將會影響您的保姆計分，PawsDay 亦有權利視情況做會員資格調整處置。
                        </p>
                    </div>
                    <!-- <div class="question-area">
                        這是否有幫助？ <a href="#" class="question yes">是</a> / <a href="#" class="question no">否</a>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
